#sywert-container {
  height: 52px;
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #8A191A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#sywert-container p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 70%;
  line-height: 1;
  margin-bottom: 5px;
}

#sywert-container .switch-outline {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #bd5253;
  display: flex;
  align-items: center;
  cursor: pointer;

  padding: 0 2px;
}


#sywert-container .switch-outline .switch-toggler {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #d6caca;
  transition: margin 300ms;
}

#sywert-container .switch-outline.on .switch-toggler {
  margin-left: 20px;
}